<div>
    <div class="w-25 m-auto shadow p-3 m-3 rounded">
     <div class="btndiv">
         <button class="btn bg-light text-danger"><a routerLink="/home">X</a></button>
     </div>
     <div class="text-center m-auto rounded rounded-5 bg-warning p-2 w-50">
         <a class="logintog pe-3" routerLink="/login">Login</a>
         <a class="jointog" routerLink="/registration">Join Us</a>
     </div>
        <div class="form-floating my-3">
         <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
         <label for="floatingInput">Username</label>
       </div>
       <div class="form-floating mb-3">
         <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
         <label for="floatingPassword">Password</label>
       </div>
       <div class="form-floating my-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email Address</label>
      </div>
      <div class="form-floating my-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Phone</label>
      </div>
      <div class="form-floating my-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Promo Code(Optional)</label>
      </div>
      <div class="mb-3">
        <span><input type="checkbox"> I agree <a href="">terms & condition </a> and <a href="">privacy policy</a></span>
      </div>
       <div class="mb-3">
         <button class="btn bg-success rounded rounded-5 w-100 ">Sing Up</button>
       </div>
       
       <div class="text-center mb-3">
         <span>Already a member? <a routerLink="/login">Sign in >></a></span>
       </div>
      
    </div>
 </div>
