
<div class="container">
<div [formGroup]="personForm" class="m-3">
   <h1> Reactive Forms</h1>
   <div>
    <label for="">First Name: </label>
    <input  type="text" formControlName="fname">
    <p style="color:red" *ngIf="personForm.controls['fname'].errors">*First name is required</p>
    {{FirstName}}
   </div>
   <div>
    <label for="">Last Name: </label>
    <input type="text" name="" id="" formControlName="lname" >
    <p style="color:red" *ngIf="personForm.controls['lname'].errors">*Last name is required</p>
   </div>
   <div>
    <label for="">Phone: </label>
    <input type="text" name="" id="" formControlName="phone" >
    <p style="color:red" *ngIf="personForm.controls['phone'].errors">*Phone number is required</p>
   </div>
   <button class="btn btn-success" *ngIf="!flag" (click)="save()">save</button>
   <button class="btn btn-success " *ngIf="flag" (click)="update()">Update</button>
</div>
<div>
    <table class="table table-strip">
        <thead>
            <tr>
                <th>Sl No.</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone</th>
                <th></th>
                <th></th>
            </tr>   
        </thead>
        <tbody>
            <tr *ngFor="let person of persons,let i=index">
                <td>{{i + 1}}</td>
                <td>{{person.fname}}</td>
                <td>{{person.lname}}</td>
                <td>{{person.phone}}</td>
                <td><button (click)="delete(i)">Delete</button></td>
                <td><button (click)="edit(i,person)">Edit</button></td>
            </tr>
        </tbody>
    </table>
</div>
</div>
