<div class="d-flex flex-wrap">
  <div class="sidenav">
    <ul>
      <li class="sideli">
        <img
          src="https://st2.depositphotos.com/4035913/6124/i/450/depositphotos_61243733-stock-illustration-business-company-logo.jpg"
          alt="" />
      </li>
      <li class="sideli"><a class="nav-link" routerLink="/home">Home</a></li>
      <li class="sideli"><a class="nav-link" routerLink="/form">Form</a></li>
      <li class="sideli">
        <a class="nav-link" routerLink="/dynamic">Dynamic form</a>
      </li>
      <li class="sideli">
        <a class="nav-link" routerLink="/countries">Countries</a>
      </li>
      <li class="sideli">
        <a class="nav-link" routerLink="/products">products</a>
      </li>
    </ul>
  </div>
  <div class="vnav">
    <nav class="navbar navbar-expand-sm bg-success navbar-light">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/registration">Join Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-3 border rounded rounded-5 px-3" routerLink="/login">Login</a>
        </li>
      </ul>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>